#contentbackground {
	background-color: #BCBCBC;
	width: 500px;
	height: 630px;
	position:absolute;
	left: 35%; right: 35%;
	top:10%; bottom:25%;
	outline: #000000 solid 1px;
	box-shadow: 0px 0px 40px #888888;
	display: none;
}

@font-face {
  font-family: 'SKETCH';
  src: url('fonts/Sketch.ttf');
}

#btn {
	width: 20px;
	height: 40px;
	background-color: FB9D22;
}

#upperbar {
	background-color: #FB9D22;
	width: 100%;
	height: 45px;
	outline: #000000 solid 1px;
	text-align: center;
}

label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}
label span {
  color: #FF3838;
  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}
input {
  display: block;
  width: 90%;
  height: 25px;
  margin-left: 20px;
  padding: 5px 5px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}
.help {
  margin-left: 20px;
  font-size: 0.8em;
  color: #000000;
}

.inputtext {
	font-size: 15px;
}

.newfont {
	font-family: SKETCH;
}

a {
	text-align: center;
	margin: auto;
}

.upptertext {
	font-size: 25px;
	font-family: SKETCH;
}

.lowertext{
	text-align: center;
	font-size: 15px;
	max-width: 97%;
	margin-left: 10px;
	font-family: SKETCH;
}

button {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: #FB9D22;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  font-family: SKETCH;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
button:hover {
  background: #FFBD5F;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #EE8B00;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
	margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #EE8B00;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

input:focus {
	outline: #FFBD5F solid 1px;
}
